<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data KTP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Data KTP</div>
        <hr>
        <p th:text="${Data}"></p>
        <l1 th:text="${Data[0]}"></l1><br>
        <l2 th:text="${Data[1]}"></l2><br>
        <l3 th:text="${Data[2]}"></l3><br>
        <l4 th:text="${Data[3]}"></l4>
    </body>
</html>
